<?xml version='1.0' encoding='UTF-8'?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
    
    <logger name="de.axelfaust.alfresco.nashorn.repo" level="INFO"/>
    <logger name="de.axelfaust.alfresco.nashorn.repo.utils.SpecialModuleHandler" level="DEBUG"/>
    <logger name="de.axelfaust.alfresco.nashorn.repo.processor.NashornScriptProcessor.loader" level="INFO"/>
    <logger name="de.axelfaust.alfresco.nashorn.repo.processor.NashornScriptProcessor.noSuchProperty" level="INFO"/>
    <logger name="de.axelfaust.alfresco.nashorn.repo.processor.NashornScriptProcessor.amd" level="INFO"/>
    <logger name="de.axelfaust.alfresco.nashorn.repo.processor.NashornScriptProcessor.amd.define" level="DEBUG"/>
    <logger name="de.axelfaust.alfresco.nashorn.repo.processor.NashornScriptProcessor.amd.require" level="DEBUG"/>
    <logger name="de.axelfaust.alfresco.nashorn.repo.processor.NashornScriptProcessor.logger" level="INFO"/>
    
</configuration>